*{
    box-sizing: border-box;
}
.learning-container {
    
    text-align: center;
    background-color: rgb(194, 194, 194);
    height: auto;
    
}
.learning-category{
   display: flex;
   flex-wrap: wrap;
   padding: 0px 72px;
 justify-content:center;
   width:auto;

}
.learning-title{
    padding: 32px;
    margin: 0;
}
.cat1{
    background-color: aliceblue;
   margin: 12px 16px;
   height: auto;
 
   width: 25%;
    
}
.cat1 h1{
    margin-top: 16px;
}
.cat1 h2{
    margin: 8px 0px;
}
.cat1 img{
    height:auto;
    width: 100%;
}
.card-container{
    margin-top: 16px ;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
    text-align: left;
}